*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 100px;
}
.product{
    margin: 15px 5px;
}
.product img{
    width: 100%;
}
.col{
    width: calc(100%/3);
}