/*valori universali*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*font family*/
body{
    font-family: 'Open Sans', sans-serif;
}
/*layout*/
.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 100px;
}
.product{
    margin: 15px 5px;
}
.product img{
    width: 100%;
}
.col{
    width: calc(100%/3);
    position: relative;
}
.heart{
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 5px;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

.heart:hover{
    color: red;
}
/*commons*/
.discount{
    display: flex;
    position: absolute;
    bottom: 75px;
    background-color: red;
    font-size: 8px;
    color: white;
    font-weight: bold;
    padding: 3px;
}
.sost{
    display: flex;
    position: absolute;
    bottom: 75px;
    left: 32px;
    font-size: 8px;
    background-color: green;
    padding: 3px;
    color: white;
    font-weight: bold;
}
.sost2{
    display: flex;
    position: absolute;
    bottom: 75px;
    background-color: green;
    font-size: 8px;
    color: white;
    font-weight: bold;
    padding: 3px;
}
.brand{
    font-size: 10px;
}

.name-product{
    font-weight: bolder;
    font-size: 12px;
}
.prezzi{
    display: flex;
}
.prezzo{
    font-weight: bolder;
    color: red;
    font-size: 10px;
}
.prezzo-canc{
    font-size: 10px;
    text-decoration: line-through;
    padding-left: 5px;
}